/* 全体の設定 */
* {
    box-sizing: border-box; /* サイズ計算を楽にする設定 */
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    color: #333;
}

/* ① ヘッダーの装飾 */
.top-header {
    height: 100px;
    background-color: #8da7c2;
    color: rgb(255, 255, 255);
    padding: 0px 80px;
    display: flex;
    align-items: center; /* 上下中央 */
    position: sticky; /* スクロールしても上に固定 */
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;/*なんか字がでかく丸くなる*/
}

/* ② レイアウト（Flexbox） */
.container {
    display: flex; /* サイドバーとメインを横並びに */
    min-height: calc(100vh - 60px); /* 画面全体の高さ - ヘッダーの高さ */
}

/* サイドバーの装飾 */
.sidebar {
    width: 300px;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

.menu-title {
    font-weight: bold;
    color: #888;
    font-size: 1rem;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.menu-title2 {
    font-weight: bold;
    color: #888;
    font-size: 1rem;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li a {
    display: block;
    padding: 12px 10px;
    color: #333;
    text-decoration: none;
    border-radius: 4px;}

.sidebar li a:hover {
    background-color: #e9ecef;
}

/* メインコンテンツの装飾 */
.main-content {
    flex: 1; /* 余ったスペースをすべて占有 */
    padding: 40px;
    line-height: 1.6;
    text-align: center;
}